<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'labels.order'|trans }} #{{ order.reference }}
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ order.checkoutCompletedAt|localizeddate }}
                </div>
                <div class="item">
                    <span class="ui blue label">
                        <i class="inbox icon"></i>
                        {{ order.state|trans }}
                    </span>
                </div>
                <div class="item">
                    {{ order.total|localizedcurrency('XAF') }}
                </div>
                <div class="item">
                    <i class="cm flag"></i> {{ '' }}
                </div>
            </div>
        </div>
    </div>
</h1>