{% form_theme form with ['form/theme.html.twig'] only %}

{{ form_start(form, {attr: {class: 'ui loadable form'}}) }}
<div class="two fields">
	{{ form_row(form.name) }}
	{{ form_row(form.firstName) }}
</div>
<div class="two fields">
	{{ form_row(form.company) }}
	{{ form_row(form.phone) }}
</div>
<div class="two fields">
	{{ form_row(form.address) }}
	{{ form_row(form.addressbis) }}
</div>
<div class="two fields">
	{{ form_row(form.country) }}
	{{ form_row(form.city) }}
</div>
<div class="two fields">
	{{ form_row(form.bp) }}
	{{ form_row(form.postal) }}
</div>
<div class="two fields">
	{{ form_row(form.isProfessionnal) }}
	{{ form_row(form.civility) }}
	
</div>
<div class="field"></div>
<button class="ui labeled icon fluid primary button" type="submit">
	<i class="checkmark icon"></i>
	{{ 'buttons.save'|trans }}
</button>
{{ form_end(form) }}
